<div class="row">
    <!-- Div Hueco Col 1-2 -->
    <div class="col-md-1" style="min-width: 132px">
            <a [routerLink]="['detail']" class="botonActivo"><i class="mdi mdi-table-edit"></i>Detalles</a>
    </div>
    <!-- Div Documentos. Col 4-5 -->
    <div class="col-md-1" style="min-width: 132px">
            <a [routerLink]="['documents']" ><i class="mdi mdi-file-document"></i>Documentos</a>
    </div>
    <!-- Div Historial. Col 6-7 -->
    <div class="col-md-1" style="min-width: 132px">
            <a [routerLink]="['log']"><i class="mdi mdi-history"></i>Historial</a>
            
    </div>
    <!-- Div Informes. Col 8-9 -->
    <div class="col-md-1" style="min-width: 132px">
            <a [routerLink]="['reports']"><i class="mdi mdi-printer"></i>Informes</a>
    </div>
</div>
    