<div class="row">
        <div class="col-md-2" style="text-align: center">
                <a href="#" class="botonActivo"><i class="mdi mdi-table-edit"></i>Detalles</a>
        </div>
        <div class="col-md-2" style="text-align: center">
            <a href="#"><i class="mdi mdi-file-document"></i>Documentos</a>
        </div>
        <div class="col-md-2" style="text-align: center">
            <a href="#"><i class="mdi mdi-history"></i>Historial</a>
    
        </div>
        <div class="col-md-2" style="text-align: center">
            <a href="#"><i class="mdi mdi-printer"></i>Informes</a>
    
        </div>
    </div>
    