

<div class="row">
        <div class="col-md-3" style="min-width: 208px">
                <div class="card bg-gradient-warning stretch-card grid-margin">

                        <div class="card-body" style="text-align:center; height: 182px;">
                                <h3>Estado actual</h3>
                                <h4>Creado</h4>
                                <!-- <button type="button" class="btn btn-gradient-info btn-rounded btn-fw">
                                        <i class="mdi mdi-border-color"></i>
                                        Cambiar
                                </button> -->
                                <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
                        </div>
                </div>
        </div>
        <div class="col-md-3" style="min-width: 208px">
                <div class="card bg-gradient-warning stretch-card grid-margin">

                        <div class="card-body" style="text-align:center; height: 182px;">
                                <h3>Fase actual</h3>
                                <h4 style="color: white">Recopilando requerimientos</h4>
                                <button type="button" class="btn btn-gradient-info btn-rounded btn-fw">
                                        <i class="mdi mdi-border-color"></i>
                                        Avanzar
                                </button>
                                <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
                        </div>
                </div>
        </div>
</div>            

<!-- 


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-12" style="text-align: center">
            <h1 class="display-3">Detalles del proyecto {{idProyecto}}</h1>
    </div>
</div>



<div class="row">
    <div class="col-md-5">
            <div class="card-body">
                    <blockquote class="blockquote blockquote-primary">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
            </div>
    </div>
    <div class="col-md-5">
            <div class="card-body">
                    <blockquote class="blockquote blockquote-primary">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
            </div>
    </div>
</div>




 -->
