<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body"><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
                <h4 class="card-title">Estado proyectos</h4>
                <canvas id="barChart" style="height: 365px; display: block; width: 730px;" width="730" height="365"></canvas>
            </div>
        </div>
    </div>


    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body"><iframe class="chartjs-hidden-iframe" style="display: block; overflow: hidden; border: 0px none; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;" tabindex="-1"></iframe>
            <h4 class="card-title">Estado proyectos</h4>
            <canvas id="doughnutChart" style="height: 365px; display: block; width: 730px;" width="730" height="365"></canvas>
            </div>
        </div>
    </div>
</div>

