<div class="row">
        <div class="col-md-12">
            <div class="card cardFases">
                <div class="card-title cardTitleCenter">
                    <h3><i class="mdi mdi-clock-start"></i> Fase Análisis</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                Fecha análisis:
                                <small class="text-muted">
                                    09/09/2019
                                </small>
                            </h4>
                            
                        </div>
                    </div>
                    <div class="row margenSup">
                        <div class="col-md-12">
                            <div class="table-responsive ps ps--theme_default tableAnalisis" data-ps-id="9a2a0c43-c99f-2a61-a172-adabe4c4851f">
                                    <table class="table">
                                        <thead>
                                            <th>Fase</th>
                                            <th>Recursos</th>
                                            <th>Tiempo</th>
                                        </thead>
                                        <tbody>
                                            <td>Especificación</td>
                                            <td>2 I+D, 2 Jefatura, 1 Calidad</td>
                                            <td>1 mes</td>
                                        </tbody>
                                    </table>                        
                            </div>
                        </div>
                    </div>
                    <div class="row margenSup">
                            <div class="col-md-6">
                                <h4>
                                    Fecha prevista recopilación:
                                    <small class="text-muted">
                                        09/09/2019
                                    </small>
                                </h4>
                                
                            </div>
                            <div class="col-md-6">
                                <h4>
                                    Resposable:
                                    <small class="text-muted">
                                        Jefatura de producto
                                    </small>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
    
            </div>
        </div>
    </div>