<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-warning text-white">
        <a class="nav-link"  [routerLink]="['/pages','createproject']">
          <div class="card-body">
            <br><br>
            <h2 class="font-weight-normal mb-5" style="text-align: center; color:white">Nuevo proyecto</h2>
          </div>
        </a>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info text-white">
          <a class="nav-link" [routerLink]="[ '/pages', 'listprojects' ]">
            <div class="card-body">
              <br><br>
              <h2 class="font-weight-normal mb-5" style="text-align: center; color:white">Listado de proyectos</h2>
            </div>
          </a>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success text-white">
          <a class="nav-link" [routerLink]="[ '/pages', 'statistics' ]">
            <div class="card-body">
              <br><br>
              <h2 class="font-weight-normal mb-5" style="text-align: center; color:white">Estadísticas</h2>
            </div>
          </a>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Últimos cambios</h4>
              <div class="table-responsive ps ps--theme_default" data-ps-id="9a2a0c43-c99f-2a61-a172-adabe4c4851f">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        #
                      </th>
                      <th>
                        Proyecto
                      </th>
                      <th>
                        Progreso
                      </th>
                      <th>
                        Estado
                      </th>
                      <th>
                        Fecha
                      </th>
                      <th>
                        Próximo vencimiento
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        1
                      </td>
                      <td>
                        DKN
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        Especificado
                      </td>
                      <td>
                        26/08/2019
                      </td>
                      <td>
                        10/09/2019
                      </td>
                    </tr>
                    <tr>
                      <td>
                        1
                      </td>
                      <td>
                        Acuazone Daikin
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td>
                        Desarrollo
                      </td>
                      <td>
                        24/08/2019
                      </td>
                      <td>
                        11/10/2019
                      </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Alexa
                        </td>
                        <td>
                            <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>
                            Validación
                        </td>
                        <td>
                            26/08/2019
                        </td>
                        <td>
                            10/09/2019
                        </td>
                    </tr>
                  </tbody>
                </table>
              <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
            </div>
          </div>
        </div>
      </div>