<div class="row">
        <div class="col-md-12" style="min-width: 805px">
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','1']" type="button" class="btn btn-primary btn-rounded  btn-fw">Creación</button>
                <i class="mdi mdi-chevron-double-right"></i>
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','2']" type="button" class="btn btn-primary btn-rounded  btn-fw">Recop.</button>
                <i class="mdi mdi-chevron-double-right"></i>
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','3']" type="button" class="btn btn-primary btn-rounded  btn-fw">Análisis</button>
                <!-- <button type="button" class="btn btn-secundary btn-rounded  btn-fw" style="cursor:default" disabled>Análisis</button> -->
                <i class="mdi mdi-chevron-double-right"></i>
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','4']" type="button" class="btn btn-primary btn-rounded  btn-fw">Aprobación</button>
                <i class="mdi mdi-chevron-double-right"></i>
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','5']" type="button" class="btn btn-primary btn-rounded  btn-fw">Plani.</button>
                <i class="mdi mdi-chevron-double-right"></i>
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','6']" type="button" class="btn btn-primary btn-rounded  btn-fw">Espec.</button>
                <i class="mdi mdi-chevron-double-right"></i>
        </div>
</div>
<div class="row" style="padding-top: 10px;min-width: 805px">
        <div class="col-md-12">

                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','7']" type="button" class="btn btn-primary btn-rounded btn-fw">Desa.</button>
                <i class="mdi mdi-chevron-double-right"></i>
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','8']" type="button" class="btn btn-primary btn-rounded btn-fw">Vali.Int</button>
                <i class="mdi mdi-chevron-double-right"></i>
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','9']" type="button" class="btn btn-primary btn-rounded btn-fw">Vali.Cal</button>
                <i class="mdi mdi-chevron-double-right"></i>
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','10']" type="button" class="btn btn-primary btn-rounded btn-fw">Prim.Uni</button>
                <i class="mdi mdi-chevron-double-right"></i>
                <button [routerLink]="['/pages','project',idProyecto,'detail','fase','11']" type="button" class="btn btn-primary btn-rounded btn-fw">Vali.PUn</button>
        </div>
</div>