

<div class="row">
        <div class="col-md-3" style="min-width: 208px">
                <div class="card bg-gradient-warning stretch-card grid-margin">

                        <div class="card-body" style="text-align:center; height: 182px;">
                                <h3>Estado actual</h3>
                                <h4>Creado</h4>
                                <!-- <button type="button" class="btn btn-gradient-info btn-rounded btn-fw">
                                        <i class="mdi mdi-border-color"></i>
                                        Cambiar
                                </button> -->
                                <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
                        </div>
                </div>
        </div>
        <div class="col-md-3" style="min-width: 208px">
                <div class="card bg-gradient-warning stretch-card grid-margin">

                        <div class="card-body" style="text-align:center; height: 182px;">
                                <h3>Fase actual</h3>
                                <h4 style="color: white">Recopilando requerimientos</h4>
                                <button type="button" class="btn btn-gradient-info btn-rounded btn-fw">
                                        <i class="mdi mdi-border-color"></i>
                                        Avanzar
                                </button>
                                <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
                        </div>
                </div>
        </div>
</div>            

<hr>

<div class="container cajaFases">
        
        
        <div class="row">
                <div class="col-md-12" style="min-width: 805px">
                        <button type="button" class="btn btn-primary btn-rounded  btn-fw">Creación</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                        <button type="button" class="btn btn-primary btn-rounded  btn-fw">Recop.</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                        <button type="button" class="btn btn-secundary btn-rounded  btn-fw" style="cursor:default" disabled>Análisis</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                        <button type="button" class="btn btn-secundary btn-rounded  btn-fw" style="cursor:default" disabled>Aprobación</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                        <button type="button" class="btn btn-secundary btn-rounded  btn-fw" style="cursor:default" disabled>Plani.</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                        <button type="button" class="btn btn-secundary btn-rounded  btn-fw" style="cursor:default" disabled>Espec.</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                </div>
        </div>
        <div class="row" style="padding-top: 10px;min-width: 805px">
                <div class="col-md-12">

                        <button type="button" class="btn btn-secundary btn-rounded btn-fw" style="cursor:default" disabled>Desa.</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                        <button type="button" class="btn btn-secundary btn-rounded btn-fw" style="cursor:default" disabled>Vali.Int</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                        <button type="button" class="btn btn-secundary btn-rounded btn-fw" style="cursor:default" disabled>Vali.Cal</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                        <button type="button" class="btn btn-secundary btn-rounded btn-fw" style="cursor:default" disabled>Prim.Uni</button>
                        <i class="mdi mdi-chevron-double-right"></i>
                        <button type="button" class="btn btn-secundary btn-rounded btn-fw" style="cursor:default" disabled>Vali.PUn</button>
                </div>
        </div>
</div>

<router-outlet></router-outlet>